@{
    ViewData["Title"] = "About me";
}

<section class="wrapper">
    <h1>About... My CV</h1>
    <article class="card">
        <h3> Halmstad University Network security</h3>
        <p>
            2018 feb-june
            CISCO Advanced Routing 7.50HP DT4005, Converged Optimized Networks
        </p>
    </article>
    <article class="card">
        <h3>Linnus University, Växjö Exchange student (2015-2016)</h3>
        <p>
            Mobile and wireless data security, User interface design
        </p>
    </article>
    <article class="card">
        <h3>Mykolas Romeris University, Vilnius Lithuania </h3>
        <p>
            Business informatics. Field of Study Information Technology (2013 – 2017)
        </p>
    </article>
    <article class="card">
        <h3>Middlesex University, United Kingdom.</h3>
        <p>
            Bachelor of Applied Science (BSC), Business Informatics (2013 – 2017)
        </p>
 
    <
    </article>
</section>


