
@{ ViewData["Title"] = "Contact"; }


<h1>Contact</h1>
<div class="wrapper">
    <section class="card">
        <p>Name:Emmanuel Umoren</p>
        <p>Phone: 0729283209 </p>
    </section>

</div>


