
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome...</h1>
<div class="wrapper">
    <div class="card">
        <h2>...to the dark side</h2>
        <h2Do you prefer action reminder formaction checkups?</h2>
        <h5>WE HAVE COOKIES</h5>
    </div>
</div>

