@{
    ViewData["Title"] = "GuessingGame";
}

<h1>Guessing game</h1>

<div class="wrapper">
    <p>Guess a number between 1 and 100.</p>
    <p>Good Luck</p>
    <div class="card">
        <form asp-action="GuessingGame" asp-controller="Game" method="post">

            <input type="number" name="userGuess" value="" placeholder="Enter a number between 1 and 100 number" min="1" max="101" />
            <br />
            <br />
            <button class="gameButton" type="submit">Submit</button>
            <br />
            <p>
                @if (ViewBag.Msg != null)
                {@ViewBag.Msg}
            </p>

            <p>
                @if (ViewBag.Rnd != null)
                {@ViewBag.Rad}
            </p>
        </form>
        <br />
        <form asp-action="Reset" asp-controller="Game" method="get">
            <button class="resetbutton">Reset</button>
            <br />
        </form>
    </div>
</div>
